body {
  background-image: url(Images/backgrounds/wallpaper.png);
  background-size: cover;
  background-position: center;
  font-family: "VT323", system-ui;
}
.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

/* BOARD GAME STYLES */

#boardGame {
  position: relative;
  height: 800px;
  width: 700px;
  background-image: url(Images/backgrounds/wholeClassBackgroundextended.png);
  margin: 0 auto;
  margin-top: 110px;
  background-size: cover;
  background-position: -50px;
  /* display: none; */
}

.rebootnator {
  position: absolute;
  background-image: url("Images/sprites/machangoFront.gif");
  background-size: cover;
}
.rebootnatorLeft {
position: absolute;
  background-image: url("Images/sprites/machangoLeft.gif");
  background-size: cover;
}
.rebootnatorRight{
position: absolute;
  background-image: url("Images/sprites/machangoRight.gif");
  background-size: cover;
}
.rebootnatorThin{
 background-image: url(Images/sprites/machangoThin.png);
 background-size: cover;
}
.rebootnatorFat {
   background-image: url(Images/sprites/machangoFat.png);
 background-size: cover;

}

/* FUNCIONES COMENTADAS PORSIACA


    #rebootnatorLeft {
    position: absolute;
    background-image: url(/Rebootnator/Images/sprites/sprites_move_left.png);
    animation: animationLeft 2s steps(4)infinite;

}

#rebootnatorRight {
    position: absolute;
    background-image: url(/Rebootnator/Images/sprites/sprites_move_right.png);
    animation: animationLeft 2s steps(4)infinite;

}

#rebootnatorShoot {
    position: absolute;
    background-image: url(/Rebootnator/Images/sprites/sprites_attack.png);
}

    */

/* Esta está ok */

@keyframes animationLeft {
  0% {
    background-position: 0px;
  }

  100% {
    background-position: 185px;
  }
}

/* Esta hay que probarla */

.enemies {
  position: absolute;
  background-color: blue;
}

.handsUp {
  position: absolute;
  background-image: url(Images/hand.png);
  background-size: cover;
}

.goodies {
  position: absolute;
  background-color: rgb(24, 121, 21);
}

.speedCoffee {
  position: absolute;
  background-image: url(Images/goodies/coffee-cup.png);
  background-size: cover;
}

.slimSalad {
  position: absolute;
  background-image: url(Images/goodies/output-onlinepngtools.png);
  background-size: cover;
}

.flatEgg {
  position: absolute;
  background-image: url(Images/enemies/burger.png);
  background-size: contain;
}

.thickBurger {
  position: absolute;
  background-color: purple;
}

#lives {
  color: black;
  font-size: large;
}

#score {
  color: black;
  display: inline-block;
}

#health {
  color: black;
  display: inline-block;
}

.js {
  position: absolute;
  background-image: url(Images/enemies/js.png);
  background-size: cover;
}

.html {
  position: absolute;
  background-image: url(Images/enemies/html.png);
  background-size: cover;
}

.css {
  position: absolute;
  background-image: url(Images/enemies/css.png);
  background-size: cover;
}

#scoreBoard {
  position: absolute;
  margin-top: -50px;
  position: absolute;
  background-color: black;
  height: 50px;
  width: 700px;
}
.scoreText {
  position: absolute;
  color: white;
  font-size: 40px;
  margin-left: 20px;
  margin-top: 5px;
}
.scoreNumber {
  position: absolute;
  color: white;
  font-size: 35px;
  margin-left: 110px;
  margin-top: 8px;
}

.live1 {
  width: 35px;
}
.live2 {
  width: 35px;
}
.live3 {
  width: 35px;
}

#livesContainer {
  display: inline-block;
  margin-left: 560px;
  margin-top: 8px;
}

/* START GAME SCREEN*/

.startScreenContainer {
  position: relative;
  height: 800px;
  width: 700px;
  background-image: url(Images/backgrounds/pixelatedBackgroundStart.png);
  margin: 0 auto;
  margin-top: 110px;
  background-size: cover;
  background-position: -50px;
  border: 4px solid white;
  /* display: none; */
}

.insertCoin {
  width: 250px;
  margin-left: 450px;
}
.logoStart {
  margin-top: 100px;
  margin-left: 65px;
}

.startButton {
  width: 250px;
  height: 70px;
  font-size: 55px;
  font-family: "VT323", monospace;
  font-weight: bold;
  border: 8px solid rgba(2, 150, 150, 0.733);
  margin-top: 90px;
  margin-left: 215px;
}

.startButton:hover {
  scale: 110%;
  border: 8px solid rgb(160, 38, 1);
  color: white;
  background-color: rgb(243, 69, 0);
}

.creditsButton:hover {
  scale: 110%;
  border: 8px solid rgb(160, 38, 1);
  color: white;
  background-color: rgb(243, 69, 0);
}
.creditsButton {
  width: 250px;
  height: 70px;
  font-size: 55px;
  font-family: "VT323", monospace;
  font-weight: bold;
  border: 8px solid rgba(2, 150, 150, 0.733);
  margin-top: 20px;
  margin-left: 215px;
}

/* GAME OVER SCREEN*/

.gameOverScreenContainer {
  position: relative;
  height: 800px;
  width: 700px;
  background-image: url(Images/backgrounds/pixelatedBackgroundStart.png);
  margin: 0 auto;
  margin-top: 110px;
  background-size: cover;
  background-position: -50px;
  border: 4px solid white;
  /* display: none; */
}
.laptop {
  height: 180px;
  margin-left: 260px;
  margin-top: 50px;
  opacity: 0.8;
}

.gameOverTitle {
  width: 700px;
  margin-top: -207px;
  margin-left: 0px;
}

.lang {
  width: 40px;
  margin-right: 20px;
}

.gameOverPicContainer {
  margin-left: 240px;
  margin-top: -180px;
}

.gameOverSentence {
  margin-top: -130px;
  color: rgb(9, 229, 236);
  width: 500px;
  text-align: center;
  font-weight: bold;
  margin-left: 100px;
  font-size: 50px;
  font-stretch: ultra-expanded;
}
.logoGameOver {
  width: 500px;
  margin-left: 100px;
  margin-top: -30px;
}

.restartButton {
  width: 250px;
  height: 70px;
  font-size: 55px;
  font-family: "VT323", monospace;
  font-weight: bold;
  border: 8px solid rgb(0, 0, 0);
  margin-top: 50px;
  margin-left: 215px;
}

.restartButton:hover {
  scale: 110%;
  border: 8px solid rgb(160, 38, 1);
  color: white;
  background-color: rgb(243, 69, 0);
}

/* LOADING SCREEN  */

.loadingScreenContainer {
  position: relative;
  height: 800px;
  width: 700px;
  background-image: url(Images/backgrounds/wholeClassBackgroundextended.png);
  margin: 0 auto;
  margin-top: 110px;
  background-size: cover;
  background-position: -50px;
  /* display: none; */
}

.loadingGif {
  width: 300px;
  margin-top: 60px;
  margin-left: 195px;
}

/* WINNER SCREEN  */

.winScreenContainer {
  position: relative;
  height: 800px;
  width: 700px;
  background-image: url(Images/backgrounds/pixelatedBackgroundStart.png);
  margin: 0 auto;
  margin-top: 110px;
  background-size: cover;
  background-position: -50px;
  border: 4px solid white;
  /* display: none; */
}

.winTitle {
  width: 500px;
  margin-left: 100px;
  margin-top: 100px;
}

.winSentence {
  margin-top: 80px;
  color: rgb(255, 255, 255);
  width: 500px;
  text-align: center;
  font-weight: bold;
  margin-left: 100px;
  font-size: 50px;
  font-stretch: ultra-expanded;
}

.winSentence2 {
  margin-top: 10px;
  color: rgb(255, 255, 255);
  width: 500px;
  text-align: center;
  font-weight: bold;
  margin-left: 100px;
  font-size: 50px;
  font-stretch: ultra-expanded;
}

.edukami {
  margin-top: -30px;
  width: 350px;
  margin-left: 170px;
}

.logosContainer {
  margin-left: 230px;
}

.study {
  margin-top: 30px;
  margin-left: 10px;
  width: 50px;
  animation: logosMoving 2s ease infinite;
}

@keyframes logosMoving {
  0% {
    transform: rotate(-40deg);
  }
  50% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(-40deg);
  }
}

.continueButton {
  width: 250px;
  height: 70px;
  font-size: 55px;
  font-family: "VT323", monospace;
  font-weight: bold;
  border: 8px solid rgb(0, 0, 0);
  margin-top: 50px;
  margin-left: 215px;
}
.continueButton:hover {
  scale: 110%;
  border: 8px solid rgb(160, 38, 1);
  color: white;
  background-color: rgb(243, 69, 0);
}

#speechBalloonContainer {
  position: relative;
}
.speechBalloonContainer {
  position: absolute;
  background-image: url(Images/8bit-retro-game-pixel-speech-bubble-balloon-icon-sticker-memo-keyword-planner-text-box-banner-flat-transparent-element-design-png.webp);
  width: 700px;
  height: 500px;
  background-size: cover;
  margin-left: 125px;
  margin-top: 50px;
}

.kahootLogo {
  width: 250px;
  margin-top: 60px;
  margin-left: 220px;
}

.kahootQuestion {
  font-size: 30px;
  margin-left: 0px;
  text-align: CENTER;
}

.answerTrue {
  background-color: rgb(55, 55, 245);
  border: 0px solid;
  font-family: "VT323", monospace;
  width: 300px;
  height: 70px;
  font-size: 30px;
  color: white;
  margin-left: 45px;
}

.answerFalse {
  background-color: rgb(243, 20, 57);
  border: 0px solid;
  font-family: "VT323", monospace;
  width: 300px;
  height: 70px;
  font-size: 30px;
  color: white;
}
