body {
    background-color: rgb(0, 0, 0);

}

#boardGame{
    position: relative;
    height:  800px;
    width: 700px;
    background-color: aliceblue;
    margin: 0 auto;
    margin-top: 70px;

}


#rebootnator{
    position: absolute;
    background-color: red;
}

.enemies {
    position: absolute;
    background-color: blue;
}

.handsUp{
    position: absolute;
    background-image: url(Images/raise-hand.png);
    background-size: cover;
}


/* ¡TODO ESTO ESTÁ OBSOLETO! A PARTIR DE AHORA LO AÑADIMOS AL DOM VIA GOODIES.JS */
.goodies{
    position: absolute;
    background-color: rgb(24, 121, 21);
} 

.speedCoffee{
    position: absolute;
    background-color: brown;
}

.slimSalad{
    position: absolute;
    background-color: greenyellow;
}

.flatEgg{
    position: absolute;
    background-color: purple;
}